# TRABAJO PRIMER BIMESTRE PROGRAMACION DE ALGORITMOS

Docente: Ing.  RenÉ Elizalde

Integrantes: Jessica Davila,
             Carlos Saca

In [3]:
#%pylab inline
import seaborn as sns
import pandas as pd
import bokeh
import numpy as np

pd.set_option('precision', 5)

In [4]:
datos = pd.read_csv("Encuesta_Condiciones_Vida_2013/01_ecv6r_vivienda.csv", 
                        sep=".", low_memory=False)

In [5]:
#datos.dtypes
datos.head()

,IDENTIF_SECT,IDENTIF_HOG,AREA_5000,AREA_2000,CIUDAD_AUTO,PROVINCIA,ZDP,REGION,CIUDAD,ZONA,...,AM1703C,AM1704A,AM1704B,AM1704C,AM1705A,AM1705B,AM1705C,FEXP,REGIONAL,FASE
0,10150001011,"1,015E+13",Urbano,Urbano,Cuenca,Azuay,Zona 6,Sierra,10150,1,...,,No aplica,,,No aplica,,,"98,75659329",Sur,Fase 1
1,10150001011,"1,015E+13",Urbano,Urbano,Cuenca,Azuay,Zona 6,Sierra,10150,1,...,,No aplica,,,No aplica,,,"98,75659329",Sur,Fase 1
2,10150001011,"1,015E+13",Urbano,Urbano,Cuenca,Azuay,Zona 6,Sierra,10150,1,...,,No aplica,,,No aplica,,,"98,75659329",Sur,Fase 1
3,10150001011,"1,015E+13",Urbano,Urbano,Cuenca,Azuay,Zona 6,Sierra,10150,1,...,,No aplica,,,No aplica,,,"98,75659329",Sur,Fase 1
4,10150001011,"1,015E+13",Urbano,Urbano,Cuenca,Azuay,Zona 6,Sierra,10150,1,...,,No aplica,,,No aplica,,,"98,75659329",Sur,Fase 1

In [20]:
datos.plot("PROVINCIA")

In [7]:
datos.columns

Index([u'IDENTIF_SECT', u'IDENTIF_HOG', u'AREA_5000', u'AREA_2000',
       u'CIUDAD_AUTO', u'PROVINCIA', u'ZDP', u'REGION', u'CIUDAD', u'ZONA',
       ...
       u'AM1703C', u'AM1704A', u'AM1704B', u'AM1704C', u'AM1705A', u'AM1705B',
       u'AM1705C', u'FEXP', u'REGIONAL', u'FASE'],
      dtype='object', length=166)

In [8]:
datos['REGION'].unique()

array(['Sierra', 'Costa', 'Amazon\xeda', 'Gal\xe1pagos'], dtype=object)

In [9]:
index_reg_datos = datos.set_index("REGION","REGIONAL").sort_index()

In [10]:
#VI01== Numero de Viviedas
#VI08== Numero de Cuartos
index_reg_datos.describe()

,CIUDAD,ZONA,SECTOR,VIVIENDA,HOGAR,VI01,VI08
count,28970.00000,28970.00000,28970.00000,28970.00000,28970.00000,28970.00000,28970.00000
mean,116426.68498,481.72465,9.87287,6.48895,1.00480,1.01008,3.14574
std,65813.74005,474.70864,13.92082,3.45138,0.07668,0.11529,1.36289
min,10150.00000,1.00000,1.00000,1.00000,1.00000,1.00000,1.00000
25%,70150.00000,7.00000,3.00000,3.00000,1.00000,1.00000,2.00000
50%,110150.00000,263.00000,6.00000,6.00000,1.00000,1.00000,3.00000
75%,170160.00000,999.00000,10.00000,9.00000,1.00000,1.00000,4.00000
max,240352.00000,999.00000,141.00000,12.00000,4.00000,4.00000,16.00000

In [11]:
index_reg_datos.plot()

In [12]:
#
#
index_reg_datos.loc[
                    ["Sierra","Costa","Amazon\xeda",'Gal\xe1pagos'],
                    ['ZDP','VI03','VI04','VI05','VI06A','VI36','VI39','VI40']
                  ].head()

,ZDP,VI03,VI04,VI05,VI06A,VI36,VI39,VI40
REGION,,,,,,,,
Sierra,Zona 3,Asbesto (Eternit),Bloque /ladrillo,Tabla / tabl�n no tratado,Regular,Propia y totalmente pagada,20,
Sierra,Zona 3,Palma / paja /hoja,Bloque /ladrillo,Tierra,Malo,Propia y totalmente pagada,30,
Sierra,Zona 3,Teja,Bloque /ladrillo,Tierra,Regular,Propia y totalmente pagada,100,
Sierra,Zona 3,Zinc,Bloque /ladrillo,Tierra,Regular,Propia y totalmente pagada,50,
Sierra,Zona 3,Palma / paja /hoja,Bloque /ladrillo,Tierra,Malo,Propia y totalmente pagada,50,

In [13]:
prov = datos['PROVINCIA'].unique()
prov

array(['Azuay', 'Bolivar', 'Ca\xf1ar', 'Carchi', 'Cotopaxi', 'Chimborazo',
       'El Oro', 'Esmeraldas', 'Guayas', 'Imbabura', 'Loja', 'Los Rios',
       'Manabi', 'Morona Santiago', 'Napo', 'Pastaza', 'Pichincha',
       'Tungurahua', 'Zamora Chinchipe', 'Gal\xe1pagos', 'Sucumbios',
       'Orellana', 'Santo Domingo de los Tsachilas', 'Santa Elena'], dtype=object)

In [14]:
index_pro_datos = datos.set_index("PROVINCIA","REGIONAL").sort_index()

In [15]:
datos['PROVINCIA'].describe()

count      28970
unique        24
top       Guayas
freq        3082
Name: PROVINCIA, dtype: object

In [16]:
index_pro_datos.loc[
                    ["El Oro","Loja","Zamora Chinchipe"],
                    ['ZDP','VI03','VI04','VI05','VI06A','VI37']
                  ].head(5)

,ZDP,VI03,VI04,VI05,VI06A,VI37
PROVINCIA,,,,,,
El Oro,Zona 7,Zinc,Ca�a sin revestir,Tabla / tabl�n no tratado,Bueno,
El Oro,Zona 7,Asbesto (Eternit),Asbesto / cemento,Cemento / ladrillo,Regular,
El Oro,Zona 7,Zinc,Bloque /ladrillo,Cer�mica / baldosa / vinyl,Regular,
El Oro,Zona 7,Hormig�n / losa / cemento,Bloque /ladrillo,Cer�mica / baldosa / vinyl,Bueno,
El Oro,Zona 7,Zinc,Ca�a sin revestir,Tierra,Malo,

In [17]:

index_pro_datos.plot()

In [18]:
datos_z7 = datos.set_index(["ZDP"],["PROVINCIA","REGIONAL"],["VI03","VI04","VI05"]).sort_index()
#agrupar_zona = datos_z7.groupby("PROVINCIA").sum()
agrupar_zona.columns

NameError: name 'agrupar_zona' is not defined

In [ ]:
agrupar_zona.head()

In [ ]:
datos_z7.head()

In [ ]:
datos_z7.plot()